<template>
  <div class="main-container ">

    <div class="header-block d11">
      <div class="header">
        <h2 class="back-rotate header-info">
          NodeJS для получения данных с сайта
        </h2>
        <h1 class="back-rotate url-info">
          https://reqres.in
        </h1>
      </div>
    </div>
    <div v-if="error1 || error2" id="info-message" class="info-message">
      <span v-if="error1" class="text-message-error-login">К сожалению, пользователя с таким Логином/E-Mail нет
        Попробуйте другой и повторите попытку.</span>
      <span v-if="error2" class="text-message-error-login">Заполните пустые поля!</span>
    </div>
    <div class="authorization-container">
      <h1 class="name-authorization">
        Вход
      </h1>
      <h1 class="name-info-authorization">
        Авторизуйтесь, чтобы получить доступ к таблице списка пользователей
      </h1>
        <label>
          <input v-model="login" class="login-input" name="login" placeholder="Ваш логин или E-mail">
          <input v-model="password" class="password-input" name="password" placeholder="Пароль" type="password">
        </label>
        <input v-on:click="loginRequest(login, password)" type="submit" class="button-loggin" value="Войти">
    </div>
  </div>
</template>

<script>
import PostsService from '../services/PostsServices'

export default {
  name: 'req',
  data () {
    return {
      error1: false,
      error2: false,
      req1: {},
      login: '',
      password: ''
    }
  },
  mounted () {
    this.getPosts()
  },
  methods: {
    async loginRequest (login, password) {
      if (login === '' || password === '') {
        this.error1 = false
        this.error2 = true
      } else {
        const response = await PostsService.login(login, password)
        this.req1 = response.data
        if (this.req1.success) {
          this.error1 = false
          this.error2 = false
          await this.$router.push('/list')
        } else {
          this.error1 = true
          this.error2 = false
        }
      }
    },
    async getPosts () {
      const response = await PostsService.getHome()
      this.error1 = response.data.success
    }
  }
}
</script>

<style>
  @import '../assets/css/login.css';
</style>
