<template>

  <div class="main-container ">
    <div class="all-table">
      <table id="table-user" class="all-table">
        <tr>
          <th class="first-column title">
            <div class="horizontal-block">Аватар</div>
          </th>
          <th class="second-column title">
            <a @click="sortId()">
            <div class="horizontal-block">
              ID
            </div>
            <div v-if="isSortId" class="vector horizontal-block"></div>
              <div v-else class="vector1 horizontal-block"></div>
            </a>
          </th>
          <th class="third-column title">
            <a @click="sortName()">
            <div class="horizontal-block">
              Имя
            </div>
            <div v-if="isSortName" class="vector horizontal-block"></div>
              <div v-else class="vector1 horizontal-block"></div>
            </a>
          </th>
          <th class="four-column title" >
            <a @click="sortLastName()">
            <div class="horizontal-block" >
              Фамилия
            </div>
            <div v-if="isSortLName"  class="vector horizontal-block"></div>
              <div v-else class="vector1 horizontal-block"></div>
            </a>
          </th>
          <th class="five-column title">
            <div class="horizontal-block">Почта</div>
          </th>
        </tr>
        <tr v-bind:key="user" v-for="user in users" class="test">
          <td class="first-column"><img :src=user.avatar alt="Avatar"></td>
          <td class="second-column opacity">{{user.id}}</td>
          <td class="third-column opacity">{{user.first_name}}</td>
          <td class="four-column opacity">{{user.last_name}}</td>
          <td class="five-column opacity">{{user.email}}</td>
        </tr>
      </table>
    </div>
  </div>

</template>

<script>
import PostsService from '../services/PostsServices'
export default {

  data () {
    return {
      isSortId: false,
      isSortName: true,
      isSortLName: true,
      users: [],
      req1: {}
    }
  },
  mounted () {
    this.getListUser()
  },
  methods: {
    async getListUser () {
      const response = await PostsService.getListUser()
      this.users = response.data.list
    },
    sortId () {
      if (this.isSortId) {
        this.isSortId = false
        return this.users.sort(sortById)
      } else {
        this.isSortId = true
        return this.users.sort(sortById).reverse()
      }
    },
    sortName () {
      if (this.isSortName) {
        this.isSortName = false
        return this.users.sort(sortByName)
      } else {
        this.isSortName = true
        return this.users.sort(sortByName).reverse()
      }
    },
    sortLastName () {
      if (this.isSortLName) {
        this.isSortLName = false
        return this.users.sort(sortByLastName)
      } else {
        this.isSortLName = true
        return this.users.sort(sortByLastName).reverse()
      }
    }
  }
}
var sortByName = function (d1, d2) { return (d1.first_name.toLowerCase() > d2.first_name.toLowerCase()) ? 1 : -1 }
var sortByLastName = function (d1, d2) { return (d1.last_name.toLowerCase() > d2.last_name.toLowerCase()) ? 1 : -1 }
var sortById = function (d1, d2) { return (d1.id > d2.id) ? 1 : -1 }
</script>

<style>
  @import '../assets/css/base.css';
</style>
